version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7.6
    working_directory: ~/admin-migrations

    steps:
      - checkout
      - run:
          name: run apt-get
          command: |
            sudo apt-get update -y --quiet
            sudo apt-get install bc -y --quiet

      - run:
          name: install conda
          command: |
            source ./scripts/install_miniconda.sh

      - run:
          name: setup tokens
          command: |
            mkdir -p ~/.conda-smithy
            echo ${STAGING_BINSTAR_TOKEN} > ~/.conda-smithy/anaconda.token
            echo ${CIRCLE_TOKEN} > ~/.conda-smithy/circle.token
            echo ${TRAVIS_TOKEN} > ~/.conda-smithy/travis.token
            echo ${AZURE_TOKEN} > ~/.conda-smithy/azure.token
            echo ${DRONE_TOKEN} > ~/.conda-smithy/drone.token
            echo ${GITHUB_TOKEN} > ~/.conda-smithy/github.token

      - run:
          name: flake8
          command: |
            export PATH=${HOME}/miniconda/bin:$PATH
            source activate base
            flake8 admin_migrations

      - run:
          name: test-run
          command: |
            export PATH=${HOME}/miniconda/bin:$PATH
            source activate base
            export DEBUG_ADMIN_MIGRATIONS=1
            run-admin-migrations

  build:
    docker:
      - image: circleci/python:3.7.6
    working_directory: ~/admin-migrations

    steps:
      - checkout
      - run:
          name: run apt-get
          command: |
            sudo apt-get update -y --quiet
            sudo apt-get install bc -y --quiet

      - run:
          name: install conda
          command: |
            source ./scripts/install_miniconda.sh

      - run:
          name: setup tokens
          command: |
            mkdir -p ~/.conda-smithy
            echo ${STAGING_BINSTAR_TOKEN} > ~/.conda-smithy/anaconda.token
            echo ${CIRCLE_TOKEN} > ~/.conda-smithy/circle.token
            echo ${TRAVIS_TOKEN} > ~/.conda-smithy/travis.token
            echo ${AZURE_TOKEN} > ~/.conda-smithy/azure.token
            echo ${DRONE_TOKEN} > ~/.conda-smithy/drone.token
            echo ${GITHUB_TOKEN} > ~/.conda-smithy/github.token

      - run:
          name: migrate
          command: |
            export PATH=${HOME}/miniconda/bin:$PATH
            source activate base
            run-admin-migrations

workflows:
  version: 2

  test_repo:
    jobs:
      - test

  hourly:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "40 * * * *"
          filters:
            branches:
              only:
                - master
