version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7.6
    working_directory: ~/admin-migrations

    steps:
      - checkout
      - run:
          name: run apt-get
          command: |
            sudo apt-get update -y --quiet
            sudo apt-get install bc -y --quiet

      - run:
          name: install conda
          command: |
            source ./scripts/install_miniconda.sh

      - run:
          name: flake8
          command: |
            export PATH=${HOME}/miniconda/bin:$PATH
            source activate base
            flake8 admin_migrations

  build:
    docker:
      - image: circleci/python:3.7.6
    working_directory: ~/admin-migrations

    steps:
      - checkout
      - run:
          name: run apt-get
          command: |
            sudo apt-get update -y --quiet
            sudo apt-get install bc -y --quiet

      - run:
          name: install conda
          command: |
            source ./scripts/install_miniconda.sh

      - run:
          name: migrate
          command: |
            export PATH=${HOME}/miniconda/bin:$PATH
            source activate base
            run-admin-migrations

workflows:
  version: 2

  test_repo:
    jobs:
      - test

  hourly:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
