name: migrate

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: null

concurrency: migrate

jobs:
  migrate:
    name: migrate
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -leo pipefail {0}
    steps:
      - name: generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.CF_CURATOR_APP_ID }}
          private-key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.CF_ADMIN_GITHUB_TOKEN }}

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462
        with:
          environment-file: environment.yml
          environment-name: cf-admin-migrations
          condarc: |
            channels:
              - conda-forge
            show_channel_urls: true
            channel_priority: strict
            solver: libmamba

      - name: configure conda and install code
        run: |
          pip install --no-deps --no-build-isolation -e .

          git config --global user.email "chrisburr73+conda-forge-admin@gmail.com"
          git config --global user.name "conda-forge-admin"
          git config --global pull.rebase false

      - name: migrate
        run: |
          mkdir -p ~/.conda-smithy
          echo ${STAGING_BINSTAR_TOKEN} > ~/.conda-smithy/anaconda.token
          echo ${CIRCLE_TOKEN} > ~/.conda-smithy/circle.token
          echo ${TRAVIS_TOKEN_B} > ~/.conda-smithy/travis.token
          echo ${AZURE_TOKEN} > ~/.conda-smithy/azure.token
          echo ${DRONE_TOKEN} > ~/.conda-smithy/drone.token
          echo ${GITHUB_TOKEN} > ~/.conda-smithy/github.token

          source ./scripts/clone_feedstock_outputs.sh
          run-admin-migrations
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          DRONE_TOKEN: ${{ secrets.DRONE_TOKEN }}
          CIRCLE_TOKEN: ${{ secrets.CIRCLE_TOKEN }}
          TRAVIS_TOKEN_A: ${{ secrets.CF_LINTER_TRAVIS_TOKEN }}
          TRAVIS_TOKEN_B: ${{ secrets.CF_DAEMON_TRAVIS_TOKEN }}
          AZURE_TOKEN: ${{ secrets.AZURE_TOKEN }}
          STAGING_BINSTAR_TOKEN: ${{ secrets.STAGING_BINSTAR_TOKEN }}
          CF_WEBSERVICES_TOKEN: ${{ secrets.CF_WEBSERVICES_TOKEN }}
