name: migrate

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: null

concurrency: migrate

jobs:
  migrate:
    name: migrate
    runs-on: "ubuntu-latest"
    steps:
      - name: generate token
        id: generate_token
        uses: actions/create-github-app-token@31c86eb3b33c9b601a1f60f98dcbfd1d70f379b4 # v1.10.3
        with:
          app-id: ${{ secrets.CF_CURATOR_APP_ID }}
          private-key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3.0.4
        with:
          python-version: 3.11
          channels: conda-forge
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes
          conda config --add channels conda-forge
          mamba install --quiet pip

          mamba install -y -q --file requirements.txt

          pip install --no-deps -e .

          git config --global user.email "79913779+conda-forge-curator[bot]@users.noreply.github.com"
          git config --global user.name "conda-forge-curator[bot]"
          git config --global pull.rebase false

      - name: migrate
        shell: bash -l {0}
        run: |
          mkdir -p ~/.conda-smithy
          echo ${STAGING_BINSTAR_TOKEN} > ~/.conda-smithy/anaconda.token
          echo ${CIRCLE_TOKEN} > ~/.conda-smithy/circle.token
          echo ${TRAVIS_TOKEN_B} > ~/.conda-smithy/travis.token
          echo ${AZURE_TOKEN} > ~/.conda-smithy/azure.token
          echo ${DRONE_TOKEN} > ~/.conda-smithy/drone.token
          echo ${GITHUB_TOKEN} > ~/.conda-smithy/github.token

          source ./scripts/clone_feedstock_outputs.sh
          run-admin-migrations
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          DRONE_TOKEN: ${{ secrets.DRONE_TOKEN }}
          CIRCLE_TOKEN: ${{ secrets.CIRCLE_TOKEN }}
          TRAVIS_TOKEN_A: ${{ secrets.CF_LINTER_TRAVIS_TOKEN }}
          TRAVIS_TOKEN_B: ${{ secrets.CF_DAEMON_TRAVIS_TOKEN }}
          AZURE_TOKEN: ${{ secrets.AZURE_TOKEN }}
          STAGING_BINSTAR_TOKEN: ${{ secrets.STAGING_BINSTAR_TOKEN }}
